In [51]:
import numpy as np
import pandas as pd

In [52]:
movies = pd.read_csv('/Users/sidharthmalik/Downloads/archive/tmdb_5000_movies.csv')
credits = pd.read_csv('/Users/sidharthmalik/Downloads/archive/tmdb_5000_credits.csv')

In [53]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [54]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [55]:
movies_df = movies.merge(credits, on='title')

In [56]:
print(type(movies_df))
print(len(movies_df))
print(movies_df)

<class 'pandas.core.frame.DataFrame'>
4809
         budget                                             genres  \
0     237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1     300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2     245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3     250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4     260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
...         ...                                                ...
4804     220000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4805       9000  [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4806          0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4807          0                                                 []
4808          0                [{"id": 99, "name": "Documentary"}]

                                               homepage      id  \
0                           http://www.avatarmovie.com/   19995
1          http://disney.go.com/disneypictures/pirates/     285
2           http://www.sonypictures.com/movies/spectre/  206647
3                    http://www.thedarkknightrises.com/   49026
4                  http://movies.disney.com/john-carter   49529
...                                                 ...     ...
4804                                                NaN    9367
4805                                                NaN   72766
4806  http://www.hallmarkchannel.com/signedsealeddel...  231617
4807                        http://shanghaicalling.com/  126186
4808                                                NaN   25975

                                               keywords original_language  \
0     [{"id": 1463, "name": "culture clash"}, {"id":...                en
1     [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2     [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3     [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4     [{"id": 818, "name": "based on novel"}, {"id":...                en
...                                                 ...               ...
4804  [{"id": 5616, "name": "united states\u2013mexi...                es
4805                                                 []                en
4806  [{"id": 248, "name": "date"}, {"id": 699, "nam...                en
4807                                                 []                en
4808  [{"id": 1523, "name": "obsession"}, {"id": 224...                en

                                original_title  \
0                                       Avatar
1     Pirates of the Caribbean: At World's End
2                                      Spectre
3                        The Dark Knight Rises
4                                  John Carter
...                                        ...
4804                               El Mariachi
4805                                 Newlyweds
4806                 Signed, Sealed, Delivered
4807                          Shanghai Calling
4808                         My Date with Drew

                                               overview  popularity  \
0     In the 22nd century, a paraplegic Marine is di...  150.437577
1     Captain Barbossa, long believed to be dead, ha...  139.082615
2     A cryptic message from Bond’s past sends him o...  107.376788
3     Following the death of District Attorney Harve...  112.312950
4     John Carter is a war-weary, former military ca...   43.926995
...                                                 ...         ...
4804  El Mariachi just wants to play his guitar and ...   14.269792
4805  A newlywed couple's honeymoon is upended by th...    0.642552
4806  "Signed, Sealed, Delivered" introduces a dedic...    1.444476
4807  When ambitious New York attorney Sam is sent t...    0.857008
4808  Ever since the second grade when he first saw ...    1.929883

                                   production_companies  ... runtime  \
0     [{"name": "Ingenious Film Partners", "id": 289...  ...   162.0
1     [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   169.0
2     [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   148.0
3     [{"name": "Legendary Pictures", "id": 923}, {"...  ...   165.0
4           [{"name": "Walt Disney Pictures", "id": 2}]  ...   132.0
...                                                 ...  ...     ...
4804           [{"name": "Columbia Pictures", "id": 5}]  ...    81.0
4805                                                 []  ...    85.0
4806  [{"name": "Front Street Pictures", "id": 3958}...  ...   120.0
4807                                                 []  ...    98.0
4808  [{"name": "rusty bear entertainment", "id": 87...  ...    90.0

                                       spoken_languages    status  \
0     [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1              [{"iso_639_1": "en", "name": "English"}]  Released
2     [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3              [{"iso_639_1": "en", "name": "English"}]  Released
4              [{"iso_639_1": "en", "name": "English"}]  Released
...                                                 ...       ...
4804      [{"iso_639_1": "es", "name": "Espa\u00f1ol"}]  Released
4805                                                 []  Released
4806           [{"iso_639_1": "en", "name": "English"}]  Released
4807           [{"iso_639_1": "en", "name": "English"}]  Released
4808           [{"iso_639_1": "en", "name": "English"}]  Released

                                                tagline  \
0                           Enter the World of Pandora.
1        At the end of the world, the adventure begins.
2                                 A Plan No One Escapes
3                                       The Legend Ends
4                  Lost in our world, found in another.
...                                                 ...
4804  He didn't come looking for trouble, but troubl...
4805  A newlywed couple's honeymoon is upended by th...
4806                                                NaN
4807                           A New Yorker in Shanghai
4808                                                NaN

                                         title vote_average vote_count  \
0                                       Avatar          7.2      11800
1     Pirates of the Caribbean: At World's End          6.9       4500
2                                      Spectre          6.3       4466
3                        The Dark Knight Rises          7.6       9106
4                                  John Carter          6.1       2124
...                                        ...          ...        ...
4804                               El Mariachi          6.6        238
4805                                 Newlyweds          5.9          5
4806                 Signed, Sealed, Delivered          7.0          6
4807                          Shanghai Calling          5.7          7
4808                         My Date with Drew          6.3         16

     movie_id                                               cast  \
0       19995  [{"cast_id": 242, "character": "Jake Sully", "...
1         285  [{"cast_id": 4, "character": "Captain Jack Spa...
2      206647  [{"cast_id": 1, "character": "James Bond", "cr...
3       49026  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       49529  [{"cast_id": 5, "character": "John Carter", "c...
...       ...                                                ...
4804     9367  [{"cast_id": 1, "character": "El Mariachi", "c...
4805    72766  [{"cast_id": 1, "character": "Buzzy", "credit_...
4806   231617  [{"cast_id": 8, "character": "Oliver O\u2019To...
4807   126186  [{"cast_id": 3, "character": "Sam", "credit_id...
4808    25975  [{"cast_id": 3, "character": "Herself", "credi...

                                                   crew
0     [{"credit_id": "52fe48009251416c750aca23", "de...
1     [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     [{"credit_id": "54805967c3a36829b5002c41", "de...
3     [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...                                                 ...
4804  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4809 rows x 23 columns]

In [57]:
#genres, id, keywords, title, overview, cast, crew
movies_df = movies_df [['movie_id','title','overview','genres','keywords','cast','crew']]
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [58]:
type(movies)

pandas.core.frame.DataFrame

In [59]:
movies_df.isnull().sum()
movies_df.dropna(inplace=True)
movies_df.duplicated().sum()

np.int64(0)

In [60]:
import ast

In [61]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [62]:
movies_df['genres'] = movies_df['genres'].apply(convert)
movies_df['keywords'] = movies_df['keywords'].apply(convert)
movies_df['overview'] = movies_df['overview'].apply(lambda x:x.split())

In [63]:
def convert3 (obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [64]:
movies_df['cast'] = movies_df['cast'].apply(convert3)

In [65]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
         L.append(i['name'])
         break
        
    return L

In [66]:
movies_df['crew'] = movies_df['crew'].apply(fetch_director)

In [67]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [i.replace(" ","") for i in x] )
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [i.replace(" ","") for i in x] )
movies_df['cast'] = movies_df['cast'].apply(lambda x: [i.replace(" ","") for i in x] )
movies_df['crew'] = movies_df['crew'].apply(lambda x: [i.replace(" ","") for i in x] )

In [68]:
movies_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [69]:
movies_df['tags'] = movies_df['overview'] + movies_df['genres'] + movies_df['keywords'] + movies_df['cast'] + movies_df['crew']

In [70]:
new_df = movies_df[['movie_id','title','tags']]

In [71]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [72]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

/var/folders/lh/cqy3xxtx5t7925cwmtnw7gbr0000gn/T/ipykernel_52282/1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [73]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/var/folders/lh/cqy3xxtx5t7925cwmtnw7gbr0000gn/T/ipykernel_52282/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [74]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

In [75]:
%pip install nltk
import nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /Users/sidharthmalik/Library/Python/3.9/lib/python/site-packages (3.9.2)
Requirement already satisfied: click in /Users/sidharthmalik/Library/Python/3.9/lib/python/site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /Users/sidharthmalik/Library/Python/3.9/lib/python/site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in /Users/sidharthmalik/Library/Python/3.9/lib/python/site-packages (from nltk) (2025.9.18)
Requirement already satisfied: tqdm in /Users/sidharthmalik/Library/Python/3.9/lib/python/site-packages (from nltk) (4.67.1)
WARNING: You are using pip version 21.2.4; however, version 25.2 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [76]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [77]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [78]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/lh/cqy3xxtx5t7925cwmtnw7gbr0000gn/T/ipykernel_52282/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [79]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(cv.fit_transform(new_df['tags']).toarray())

In [80]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, np.float64(0.28676966733820225)),
 (2405, np.float64(0.26901379342448517)),
 (3728, np.float64(0.2605130246476754)),
 (507, np.float64(0.255608593705383)),
 (539, np.float64(0.25038669783359574))]

In [81]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [82]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.